.cards-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #222;
    justify-content: space-between;
    padding: 10rem 0 ;
}

.card-title{
    color: #fff;
    font-size: 12rem;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.card-wraper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.card::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1rem;
    background-color: #817824;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.card{
    width: 30rem;
    background: #a79a2d;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    transform: rotateY(20deg)skewX(-2deg);
    position: relative;
    transition: transform .5s, boxshadow 0.5s;
}

.card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1rem;
    background-color: #8f8317;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.card:hover{
    transform: rotateY(20deg)skewX(-2deg)translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.card-name{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #111;
    margin: 2rem 0;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}


.card-button{
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    padding: 0.5rem 0;
    box-shadow: -0.2rem -0.2rem -0.2rem #000;
}

.card-img{
    width: 100%;
}
