.menu-header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333
}

.header-title{
    font-size: 8rem;
    color: #fff;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: .3rem .3rem .3rem #000;
}

.icons-wrapper i{
    font-size: 35rem;
    color:#a79a2d;
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.3s;
}

.icons-wrapper i.change{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.3s 0.3s;
}

@media (max-width:1300px){
    .header-title{
        font-size: 7rem;
    }
    .icons-wrapper i{
        font-size: 30rem;
    }
}

@media (max-width:950px) {
    .header-title{
        font-size: 5rem;
    }
    .icons-wrapper i{
        font-size: 20rem;
    }
}


@media (max-width:800px) {
    .header-title{
        font-size: 3rem;
    }
    .icons-wrapper i{
        font-size: 15rem;
    }
}



